html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
}

.img-responsive {
  max-width: 50%; /* or to whatever you want here */
  max-height: auto; /* or to whatever you want here */
  display: block;
  margin: 0 auto;
}

/* calendar widget */
.widget_calendar {
  float: left;
}

#wp-calendar{
  width: 100%;
}
#wp-calendar caption {
  text-align: right;
  color: #333;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 15px;
}

#wp-calendar thead {
  font-size: 10px;
}

#wp-calendar thead th {
  padding-bottom: 10px;
}

#wp-calendar tbody {
  color: #aaa;
}

#wp-calendar tbody td {
  background: #f5f5f5;
  border: 1px solid #fff;
  text-align: center;
  padding:8px;
}
#wp-calendar tbody td:hover {
  background: #fff;
}

#wp-calendar tbody .pad {
  background: none;
}

#wp-calendar tfoot #next {
  font-size: 10px;
  text-transform: uppercase;
  text-align: right;
}

#wp-calendar tfoot #prev {
  font-size: 10px;
  text-transform: uppercase;
  padding-top: 10px;
}
.widgets-area ul li{
  list-style: none;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
